body {
  /*background: url("/images/orange_weave.jpg");*/
  background-color: white;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

/*************
 header/nav elements
*************/

#header_container {
  background: #800000;
  border: 1px solid black;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
}

#header_content {
  font-style: italic;
  margin: auto 40px auto auto;
  text-align: center;
}

#header_content ul {
  font-size: 1.40em;
}

#header_content li {
  padding: 10px;
  display: inline;
}

a:link,
a:visited {
  text-decoration: none;
  color: lightgray;
  list-style: none;
}

a:hover,
a:active {
  color: white;
  text-decoration: underline;
}

.wrapper {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid black;
  width: 85%;
  margin: 125px auto 100px auto;
  box-shadow: 10px 10px 25px #404040;
}

#about_me {
  padding: 20px;
}

.selfie {
  opacity: 1.0;
  height: 300px;
  border-radius: 10px;
  margin: 0 25px 25px 15px;
  box-shadow: 10px 10px 15px #404040;
  float: left;
  border: 3px solid black;
}

#tech_experience {
  padding: 20px;
  background-color: white;
  border-top: 5px solid orangered;
  border-bottom: 5px solid orangered;
}

#tech-logos {
  padding: 10px 50px 10px 50px;
}

.logo {
  height: 76px;
  margin: 10px 10px 10px 10px;
}

#projects {
  padding: 20px;
}

.c1projectpics {
  height: 350px;
  padding: 25px 10px 25px 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 30px;
  font-style: italic;
}

p {
  font-family: times, 'Times New Roman', serif;
  text-indent: 25px;
  margin-right: 40px;
  text-align: justify;
}

.projects-text {
  padding-left: 30px;
}

#footer-container {
  background: #800000;
  border: 1px solid black;
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#footer_content {
  text-align: center;
  font-style: italic;
  font-size: 1em;
}

#footer_content li {
  padding: 10px;
  display: inline;
}
